<h2>Friends Index</h2>
{{! The context here is the controller }}
<h2>Total friends: {{model.length}}</h2>

<ul>
  {{#each friend in model}}
    <li>{{friend.firstName}} {{friend.lastName}}</li>
  {{/each}}
</ul>
